<?xml version="1.0"?>
<launch>

  <arg name="serial" default="160875" />
  <arg name="mono_serial" default="160875" />
  
  <!-- Ensenso node -->
  <node name="ensenso_node" pkg="ensenso" type="ensenso_node" ns="ensenso" output="screen"> 
    <param name="serial"          type="string" value="$(arg serial)" />
    <param name="mono_serial"     type="string" value="$(arg mono_serial)" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="ensenso_broadcaster"
        args="0 0.05 0 0.5 -0.5 0.5 -0.5 ensenso_link ensenso_optical_frame 100" /> 

</launch>
